.proti{
    width:70% ;
    height: 80%
}

.defteri{
  width:100%;
  height:100%;

}

.triti{
  width:60%;
  height:55%;
  margin-top: 40px;

}

.tetarti{
  width: 55%;
  height:55%;
    margin-top: 40px;


}

.container{
	background-color: #FFCCCB
}




img{
	border:7px solid #FC4C4E;
}

.kentro{
	text-align: center;
}


.kentro2{
   text-align: center;


}
p{
 background-color: #FC4C4E;

}

h1{
	background-color: #FC4C4E;
	width: 220px;
}

h2{
	background-color: #FC4C4E;
	width: 180px;
}

body.bg-color{
	background-color: #FFCCCB;
}